{% extends "base.twig" %} {% block content %}

<section class="cover small">
	<img
		srcset="{{post.thumbnail|towebp}}"
		alt="{{ post.title }}"
		class="cover__background"
	/>
	{# <img srcset="{{ logo_tagliato|towebp }}" class="cover__logo" /> #}
	<img srcset="{{ divider|towebp }}" class="cover__divider" />
</section>

<div class="container grid">
	<div class="article col">
		<p class="article__date">{{ post.post_date | date }}</p>
		<h2 class="article__title">{{ post.title }}</h2>

		{{ post.content }}
	</div>
	<div class="col-25 sidebar">
		<div class="sidebar__share">
			<h5>TI piace questo articolo?</h5>
			<div class="sidebar__share__icons">
				<svg
					width="43"
					height="42"
					viewBox="0 0 43 42"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M17.1535 13.1174L17.1538 13.1181C17.381 13.6245 17.7601 14.5475 18.0651 15.2905L18.0687 15.2991C18.1884 15.5907 18.2969 15.8549 18.3816 16.0584C18.424 16.1602 18.4598 16.2455 18.4878 16.3108C18.5019 16.3435 18.5135 16.3701 18.5226 16.3906L18.5338 16.4151L18.5371 16.4221C18.5377 16.4234 18.5381 16.4241 18.5382 16.4244L17.1535 13.1174ZM17.1535 13.1174C16.9604 12.6887 16.7295 12.395 16.4354 12.2245C16.1502 12.0592 15.87 12.0519 15.71 12.0477C15.7065 12.0476 15.703 12.0475 15.6996 12.0475M17.1535 13.1174L15.6996 12.0475M18.053 18.5107L18.0528 18.5109C17.9762 18.5989 17.8953 18.6965 17.8097 18.8L17.7992 18.8127C17.6581 18.9831 17.4975 19.1772 17.3534 19.3208L17.3532 19.321C17.2952 19.3787 17.2568 19.4181 17.2265 19.4554C17.1977 19.4909 17.1894 19.5093 17.1874 19.5147C17.1871 19.5154 17.1869 19.5133 17.1875 19.5179C17.1885 19.5264 17.1948 19.5615 17.2339 19.629C17.4841 20.0604 18.3613 21.4798 19.6436 22.6161L19.6445 22.6169C21.0268 23.8475 22.223 24.3636 22.84 24.6299L22.8412 24.6304L22.8522 24.6351C22.9661 24.6843 23.0764 24.7318 23.1619 24.7744M18.053 18.5107L22.9391 25.222M18.053 18.5107C18.2957 18.2319 18.404 18.0071 18.5225 17.7612L18.5269 17.7521L18.5269 17.7521C18.5427 17.7192 18.5586 17.6863 18.5753 17.652M18.053 18.5107L18.5753 17.652M23.1619 24.7744L22.9391 25.222M23.1619 24.7744C23.1619 24.7744 23.1619 24.7744 23.1618 24.7744L22.9391 25.222M23.1619 24.7744C23.3541 24.87 23.4282 24.8681 23.4414 24.8665L23.4418 24.8665C23.444 24.8662 23.4473 24.8659 23.4569 24.86C23.4702 24.8519 23.4974 24.8315 23.5385 24.7838L23.5385 24.7837C23.8082 24.4706 24.6459 23.4935 24.9301 23.0746M22.9391 25.222C23.3894 25.446 23.6577 25.4116 23.9174 25.11C24.1772 24.8084 25.0428 23.8002 25.3459 23.3522M24.9301 23.0746C24.9294 23.0756 24.9287 23.0767 24.928 23.0777L25.3459 23.3522M24.9301 23.0746C24.9306 23.0737 24.9312 23.0729 24.9317 23.0721L25.3459 23.3522M24.9301 23.0746C25.1307 22.7705 25.3951 22.5592 25.7483 22.5175C26.0489 22.4821 26.3366 22.5863 26.5335 22.6598L26.5336 22.6598C26.7687 22.7475 27.454 23.0715 28.1035 23.3842C28.7674 23.7038 29.436 24.0322 29.6633 24.1453L29.6633 24.1454C29.7485 24.1878 29.8286 24.2262 29.906 24.2633L29.9212 24.2706C30.0654 24.3397 30.2167 24.4122 30.3423 24.489C30.4717 24.568 30.6294 24.6835 30.7362 24.8635M25.3459 23.3522C25.6402 22.9042 25.9431 22.9732 26.3587 23.1282L30.7361 24.8634C30.7362 24.8634 30.7362 24.8635 30.7362 24.8635M30.7362 24.8635C30.8279 25.018 30.8534 25.2117 30.8639 25.3454C30.8765 25.5058 30.8743 25.6966 30.8563 25.9066C30.8203 26.3276 30.7183 26.8563 30.5178 27.4224L30.5166 27.4258C30.2682 28.1115 29.5954 28.7017 28.9625 29.1094C28.323 29.5213 27.5767 29.8406 27.0457 29.8902M30.7362 24.8635L27.0457 29.8902M27.0457 29.8902C26.9748 29.8969 26.9033 29.9055 26.8217 29.9154L26.7617 29.419L26.8217 29.9154C26.4187 29.9641 25.9331 30.0217 25.0986 29.8817C24.2826 29.7448 23.1434 29.4215 21.4057 28.7375C17.0167 27.0116 14.1445 22.7661 13.5678 21.9135L13.5619 21.9049C13.5392 21.8714 13.5213 21.8449 13.507 21.8239L13.4899 21.7993L13.4849 21.7922C13.4839 21.7909 13.4834 21.7902 13.4833 21.79C13.4832 21.7899 13.4832 21.7899 13.4833 21.79L13.474 21.7775L13.4739 21.7775L13.4739 21.7774C13.3395 21.5976 12.8605 20.9567 12.4145 20.0753C11.9719 19.2006 11.5401 18.0474 11.5401 16.847C11.5401 14.5691 12.6761 13.3648 13.1707 12.842C13.2008 12.8102 13.2264 12.7832 13.2491 12.7587C13.2491 12.7587 13.2491 12.7587 13.2491 12.7586L27.0457 29.8902ZM15.6996 12.0475C15.6991 12.0474 15.6986 12.0474 15.6981 12.0474L15.6847 12.5472L15.6996 12.0475ZM18.5753 17.652C18.8185 17.1538 18.6865 16.7198 18.5382 16.4244L18.5753 17.652ZM13.1094 35.6476C12.9979 35.5872 12.8676 35.5714 12.7449 35.6034L4.68203 37.7094C4.533 37.7483 4.39776 37.6113 4.43867 37.4628L6.59223 29.6457C6.62784 29.5164 6.61005 29.3783 6.54286 29.2623C5.06026 26.7024 4.28044 23.7995 4.2815 20.8451V20.8449C4.2815 11.5591 11.8812 4 21.2078 4C25.7418 4 29.9868 5.75711 33.1826 8.93796C36.3778 12.1184 38.1343 16.3508 38.1343 20.8535C38.1343 30.1391 30.5346 37.6982 21.2079 37.6982H21.1993C18.3653 37.6982 15.5817 36.9867 13.1094 35.6476Z"
						fill="#83D051"
						stroke="#83D051"
						stroke-linejoin="round"
					/>
				</svg>
				<svg
					width="43"
					height="42"
					viewBox="0 0 43 42"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M24.9096 5.03125C22.763 5.03125 20.7043 5.88398 19.1864 7.40185C17.6686 8.91973 16.8158 10.9784 16.8158 13.125V17.6312H12.4846C12.2671 17.6312 12.0908 17.8075 12.0908 18.025V23.975C12.0908 24.1925 12.2671 24.3687 12.4846 24.3687H16.8158V36.575C16.8158 36.7925 16.9921 36.9688 17.2096 36.9688H23.1596C23.377 36.9688 23.5533 36.7925 23.5533 36.575V24.3687H27.9229C28.1036 24.3687 28.2611 24.2458 28.3049 24.0705L29.7924 18.1205C29.8546 17.872 29.6666 17.6312 29.4104 17.6312H23.5533V13.125C23.5533 12.7653 23.6962 12.4203 23.9506 12.166C24.2049 11.9116 24.5499 11.7687 24.9096 11.7687H29.4596C29.677 11.7687 29.8533 11.5925 29.8533 11.375V5.425C29.8533 5.20754 29.677 5.03125 29.4596 5.03125H24.9096Z"
						fill="#83D051"
					/>
				</svg>
				<svg
					width="43"
					height="42"
					viewBox="0 0 43 42"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M13.7412 8.58835C19.2268 8.1115 24.7435 8.1115 30.2291 8.58835L32.872 8.8181C34.6314 8.97104 36.1383 10.0205 36.919 11.5216C37.0189 11.7136 36.9441 11.9461 36.76 12.0601L25.7946 18.8482C23.4428 20.304 20.4774 20.3346 18.0962 18.9275L7.05746 12.4046C6.87912 12.2992 6.79726 12.0823 6.87763 11.8914C7.59191 10.1946 9.19776 8.98331 11.0983 8.8181L13.7412 8.58835Z"
						fill="#83D051"
					/>
					<path
						d="M6.86865 15.3421C6.59571 15.1808 6.24746 15.3543 6.21564 15.6698C5.77161 20.0721 5.87907 24.5162 6.53805 28.8984C6.88545 31.2086 8.77091 32.9796 11.0983 33.1819L13.7412 33.4117C19.2268 33.8885 24.7435 33.8885 30.2291 33.4117L32.872 33.1819C35.1994 32.9796 37.0849 31.2086 37.4323 28.8984C38.1105 24.3885 38.2045 19.8131 37.7145 15.285C37.6801 14.9674 37.3259 14.797 37.0543 14.9652L27.1763 21.0801C23.9945 23.0498 19.9824 23.0911 16.7607 21.1874L6.86865 15.3421Z"
						fill="#83D051"
					/>
				</svg>
			</div>
		</div>
	</div>
</div>

{% endblock %}
